.pane-container {
  -fx-background-color: #1b1f23;
}

.label {
 -fx-color: white;
}

#llaveSecreta,#valor,#resultado {
 -fx-background-color: none;
 -fx-border-color: white;
 -fx-border-width: 0 0 2px 0;
 -fx-text-fill: white;
 -fx-font-size: 15px;
 -fx-border-start-start: none;
}

#llaveSecreta:focused ,#valor:focused ,#resultado:focused  {
-fx-border-color: #6db33f
}

#encriptar,#desencriptar {
 -fx-background-color: none;
 -fx-border-color: white;
 -fx-text-fill: white;
 -fx-border-radius: 5px;
 -fx-border-width: 2px;
}

#encriptar:hover,#desencriptar:hover {
 -fx-background-color: white;
 -fx-text-fill: black;
}

#pane-container-buttons {
 -fx-background-color: #262a2d;
}